.app-wraper {
    display: grid;

    grid-template-areas:
        "sitebar product";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 7fr;
}

#sitebar {
    grid-area: sitebar;
}
#product {
    grid-area: product;
}
