.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.searchIcon {
    position: absolute;
    left: 10px;
    color: #7E7E7E;
}

.searchInput {
    padding: 10px;
    padding-left: 30px;
    border: 0;
    background-color: #F9FBFF;
    border-radius: 10px;
    color: #7E7E7E;
}